<style>
    @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

    *{
        font-family: 'Itim', cursive;
    }

    body{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    div{
        display: block;
        text-align: center;
        color:white;
    }
    a{
        color: green;
    }
</style>
<title>PocketChatUpdater</title>
<div>
    <h1>Download The Latest Update for PocketChat</h1>
    <h3><a href="https://zombie.codeberg.page/-/pocket_v1.4.html" download="PocketChat.html">Download PocketChat 1.4</a></h3>
</div>