/* Main Font */
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

html, body{
    
    
    overflow-x: hidden;
    background: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(4deg, rgba(0,6,89,1) 0%, rgba(0,40,121,1) 20%, rgba(1,79,159,1) 51%, rgba(0,127,211,1) 73%, rgba(0,168,255,1) 100%);
}
*{
    font-family: 'Dongle', sans-serif;
    
}

.title{
font-size: 110px;
display: block;
margin-bottom: 0px;
}  
.subtitle{
    font-size: 85px;
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    }  
#main{

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#apps{
    max-width: 650px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    width: fit-content;
    background-image: radial-gradient(blue, transparent);
    border-radius: 50px;
}

/* .app-container{
    text-decoration-line: none;
} */

.app{
width: 130px;
height: 130px;
border-radius: 80px;
font-family: 'Dongle', sans-serif;
margin: 40px;
margin-bottom: 50px;
background-position: center;
background-size: 130px;
}

.appLabel{
   display: block;
   font-size: 37px;
   position: relative;
   top: 85px;
}